numpy
# Charts and plotting library
matplotlib
#tkinter
# Data visualization
seaborn
# Interactive computing
#notebook
# For interactive builds
#jupyter
# Neural networks
torchvision
torch
scipy
scikit-learn
